@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14pt;
  line-height: 1.55;
  letter-spacing: 0.015em;

  overflow-x: hidden;
  
}

body .line-number::-moz-selection {
  background: transparent;
  color: inherit;
}

body .line-number::selection {
  background: transparent;
  color: inherit;
}
